@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    950 East Paces Ferry<br />
    Suite 2400<br />
    Atlanta, GA 30326<br />
    <abbr title="Phone">P:</abbr>
    404.601.6000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@soltech.net">Support@soltech.net</a><br />
</address>