<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package id="xunit" version="2.0.0-rc3-build2880" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0-rc3-build2880" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0-rc3-build2880" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0-rc3-build2880" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0-rc3-build2880" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.0-rc3-build1046" targetFramework="net45" />
  <!-- Necessary to get NuGet package restore to fetch them -->
  <package id="OpenCover" version="4.5.3723" />
  <package id="ReportGenerator" version="2.1.1.0" />
  <package id="xunit.runners" version="2.0.0-rc3-build2880" />
</packages>